public/workflows/TG-Auto/Orchestrator.json
{
  "name": "Orchestrator",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('DB: Fetch Global Config').item.json.python_url }}/health",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "name": "API: Health Check Python Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "executeOnce": true,
      "position": [
        0,
        928
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.body.telethon }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.body.whisper }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "LOG: Validate Health Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $if($('LOG: Wait 10 Seconds').isExecuted, ($('LOG: Wait 10 Seconds') + 1) % (($(\"LOG: Wait 20 Seconds Recovery\").item.json.server_restart_count +1) || 1) <= 2, ($runIndex + 1) <= 2) }}",
              "rightValue": 2,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "LOG: Check Restart Attempt Count",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $runIndex +1 }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "LOG: Check Max Restart Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        928
      ]
    },
    {
      "parameters": {
        "errorMessage": "=apr\u00e8s {{ $('JS: Increment Server Restart Count').last().json.server_restart_count }} red\u00e9marrage du server, le server ne r\u00e9pond toujours pas."
      },
      "name": "LOG: Stop With Error Max Restarts Exceeded",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        896,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://localhost:5678/webhook-test/auto-relaunch",
        "options": {}
      },
      "name": "WH: Auto Relaunch Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "executeOnce": true,
      "alwaysOutputData": true,
      "position": [
        1344,
        448
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UPJEz6kSp7I10i3T",
          "mode": "id",
          "cachedResultUrl": "/workflow/UPJEz6kSp7I10i3T"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "SUB: Execute Process Channel",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "alwaysOutputData": true,
      "position": [
        1120,
        560
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "name": "LOG: Wait 10 Seconds",
      "webhookId": "acfa83b8-2c84-4453-9311-38d9df75c0c3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        736
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "name": "LOG: Wait 20 Seconds Recovery",
      "webhookId": "0f2d476e-19a0-4158-82b5-a0347c78a247",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "executeOnce": true,
      "alwaysOutputData": true,
      "position": [
        1120,
        1040
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        752
      ],
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator",
        "options": {}
      },
      "name": "WH: Listen Auto Relaunch",
      "webhookId": "13f388bd-36d9-433a-8e46-e3cd40458da0",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        944
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "LPqdGeHjjGSYeZMo",
          "mode": "list",
          "cachedResultName": "global_config",
          "cachedResultUrl": "/projects/XiLccrxNk7GIzD85/datatables/LPqdGeHjjGSYeZMo"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "name": "DB: Fetch Global Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -224,
        928
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "BIbblBDwWVDHnAh3",
          "mode": "list",
          "cachedResultName": "channels_config",
          "cachedResultUrl": "/projects/XiLccrxNk7GIzD85/datatables/BIbblBDwWVDHnAh3"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "name": "DB: Fetch Active Channels Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "executeOnce": true,
      "alwaysOutputData": true,
      "position": [
        448,
        464
      ]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "createdAt, updatedAt, active, label, id",
        "options": {}
      },
      "name": "JS: Filter Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        464
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "LOG: Split Process Channels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        464
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo docker restart tg-server"
      },
      "name": "SSH: Docker Restart Server",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "executeOnce": true,
      "alwaysOutputData": true,
      "position": [
        896,
        832
      ],
      "credentials": {
        "sshPrivateKey": {
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://localhost:5678/webhook/auto-relaunch",
        "options": {}
      },
      "name": "WH: Auto Relaunch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "executeOnce": true,
      "alwaysOutputData": true,
      "position": [
        1120,
        368
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        368
      ],
      "name": "LOG: End"
    }
  ],
  "connections": {
    "API: Health Check Python Server": {
      "main": [
        [
          {
            "node": "LOG: Validate Health Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG: Validate Health Check Status": {
      "main": [
        [
          {
            "node": "DB: Fetch Active Channels Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG: Check Restart Attempt Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG: Check Restart Attempt Count": {
      "main": [
        [
          {
            "node": "LOG: Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG: Check Max Restart Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG: Check Max Restart Threshold": {
      "main": [
        [
          {
            "node": "SSH: Docker Restart Server",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG: Stop With Error Max Restarts Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH: Auto Relaunch Test": {
      "main": [
        [
          {
            "node": "LOG: End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUB: Execute Process Channel": {
      "main": [
        [
          {
            "node": "LOG: Split Process Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG: Wait 10 Seconds": {
      "main": [
        [
          {
            "node": "API: Health Check Python Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG: Wait 20 Seconds Recovery": {
      "main": [
        [
          {
            "node": "API: Health Check Python Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "DB: Fetch Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH: Listen Auto Relaunch": {
      "main": [
        [
          {
            "node": "DB: Fetch Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Global Config": {
      "main": [
        [
          {
            "node": "API: Health Check Python Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Active Channels Config": {
      "main": [
        [
          {
            "node": "JS: Filter Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Filter Metadata": {
      "main": [
        [
          {
            "node": "LOG: Split Process Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG: Split Process Channels": {
      "main": [
        [
          {
            "node": "WH: Auto Relaunch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SUB: Execute Process Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH: Docker Restart Server": {
      "main": [
        [
          {
            "node": "LOG: Wait 20 Seconds Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH: Auto Relaunch": {
      "main": [
        [
          {
            "node": "LOG: End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WH: Auto Relaunch Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10,
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "tags": [
    {
      "name": "TG-Auto"
    }
  ]
}